@model IEnumerable<MyElectronix.Areas.Admin.Models.Category>
@{
    ViewBag.Title = "Index";
}

<h2>CATEGORIES</h2>
<p>
    @Html.ActionLink("Create Category", "Create")
</p>

<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(m => m.CategoryID)</th>
        <th>@Html.DisplayNameFor(m => m.CategoryName)</th>
        <<th></th>
    </tr>


    @foreach (var item in Model)
    {
        <tr>
        <td>
            @Html.DisplayFor(m => item.CategoryID)
        </td>
        <td>
            @Html.DisplayFor(m => item.CategoryName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.CategoryID }) |
            @Html.ActionLink("Details", "Details", new { id = item.CategoryID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.CategoryID })
        </td>
        </tr>
    }
</table>


